@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
    margin: 0;
    font-family: "Poppins";
}

main {
    display: grid;
    background: #eeeee7;
    grid-template-columns: 1fr 1.2fr 1fr 1fr;
    min-height: 100vh;
}

/* General panel */
.panel {
    display: grid;
}

/* grid top is in grid Header is in grid Panel */
.panel.header {
    grid-column: 1 / 6;
    grid-template-columns: 1fr 4.5fr 1fr;
    padding: 30px 60px;
    text-align: center
}
.panel.header h1 {
    color: #b87e89;
    font-size: 3em;
}
.panel.header nav a {
    color: #b87e89;
    text-decoration: none;
    margin-right: 20px;
}
.panel.header nav a:hover {
    color: #bbbb99;
}

/* Welcome */
.panel.welcome {
    grid-column: 1 / 2.5;
    grid-column: 2, 3, 2;
    padding: 30px 60px;
}

.panel.welcome h1,
.panel.welcome p {
    color: #323230;;
}
.panel.welcome p {
    max-width: 420px;
    line-height: 2;
}
.panel.welcome nav a {
    color: #b87e89;
    text-decoration: none;
    margin-right: 20px;
    text-decoration: underline;
}
.panel.welcome nav a:hover {
    color: #bbbb99;
}

/*Photos */
.panel.photos {
    grid-column: 2;
    overflow: hidden;
}
.panel.photos img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* CS */
.panel.cs {
    grid-column: 1.75;
    overflow: hidden;
}
.panel.cs img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* 1400px */
@media screen and (max-width: 1400px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
    .panel.cs {
        grid-column: 1 / -1; 
    }
}

/* 960px */
@media screen and (max-width: 960px) {
    main {
        grid-template-columns: 1fr;
    }
    .panel.photos, 
    .panel.cs {
        grid-column: 1 / -1;
    }
}

/* 680px */
@media screen and (max-width: 680px) {
    .panel.photos,
    .panel.cs {
        border-bottom: 1px solid #dcdcd0;
    }
}
